
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="虚弱橙的博客 yuming.ch's site">
    <meta name="author" content="yuming.ch 虚弱橙">

    <title>虚弱橙的博客</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href= ../static/blog.css rel="stylesheet">
  </head>

  <body>

    <div class="blog-masthead navbar-fixed-top">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">听说过，没见过</a>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">{{title}}</h2>
            <p class="blog-post-meta">{{post_date}}</p>
            {{content | safe }}
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">加载更多</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于作者</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="http://www.douban.com/people/oranjeruud/">豆瓣 @虚弱橙</a></li>
              <li><a href="https://github.com/yumingch/">Github</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>由 <a href="http://getbootstrap.com">Bootstrap</a> 和 <a href="http://flask.pocoo.org/">flask</a> 搭建 ｜ <a href="https://www.leancloud.cn">LeanCloud</a>云引擎</p>
      <p>
        <a href="#">回到顶部</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
